In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [15]:

n = 4 # nombre de pages à scrapper
links = [] # listes des liens de détails de chaque  livres

for i in range(1,n+1):
    
    url = 'https://nileusedbooks.com/product-category/french/page/'+str(i) # url des différentes pages
    response = requests.get(url)
    html = response.content
    soup = bs(html, "html.parser")
    
    # Récupération de tous les liens de détails pour la pages encours
    divs = soup.find_all("div", class_="item-img products-thumb")
    
    # ajout des différents liens dans la liste links
    for div in divs:
        hrf = div.find_all("a")[0]['href'].strip()
        links.append(hrf)
        
print('[*] Ok')

[*] Ok

In [16]:

# Dictionnaire pour conténir les informations des libres
donne = {}
donne['Book Title'] = [] # liste des titres
donne['ISBN Number'] = [] # liste des numéros ISBN
donne['Price in Egyptian Pounds'] = [] # liste des prix 
donne['Price in USD'] = [] # prix en dollar


for url in links: 
    
    response = requests.get(url) # détail pour un livre donné
    html = response.content
    
    soup = bs(html, "html.parser")
    
    prix = int(soup.find_all("ins")[0].find('bdi').text.split()[0][:-3])
    title = soup.find_all('h1', class_='product_title entry-title')[0].text
    nbd = soup.find_all('div', class_='tab-content')[0].div.p.text
    
    donne['Book Title'].append(title)
    donne['ISBN Number'].append(nbd)
    donne['Price in Egyptian Pounds'].append(prix)
    
    donne['Price in USD'].append(prix/19)
    
    
print('[*] Ok')

[*] Ok

In [13]:
donne_df = pd.DataFrame(donne)
donne_df

,Book Title,ISBN Number,Price in Egyptian Pounds,Price in USD
0,“CM1 ; livre de l’élève,9782210655027,30,1.578947

In [82]:
donne_df.to_csv('data/file.csv', index=False)