In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [6]:
n = 1

links = {}
links['liens'] = []

for i in range(1,n+1):
    print("----------------")
    url = 'https://nileusedbooks.com/product-category/french/page/'+str(i)
    response = requests.get(url)
    html = response.content
    soup = bs(html, "html.parser")
    divs = soup.find_all("div", class_="item-img products-thumb")
    for div in divs:
        hrf = div.find_all("a")[0]['href'].strip()
        print(hrf)
        links['liens'].append(hrf)

----------------

IndexError: list index out of range

In [3]:
df = pd.DataFrame(links)
df = df.drop_duplicates()
df

                                                liens
0                                cm1-livre-de-l-eleve
1   le-moniteur-de-lecture-arthur-ce1-livre-de-l-e...
2                        lecture-ce1-niveau-3-cycle-2
3             mon-cahier-de-soutien-mathematiques-ce2
4                            ado-2-cahier-d-exercices
5                           ado-3-methode-de-francais
6                              atelier-de-lecture-ce1
7       bled-cm2-6e-orthographe-conjugaison-grammaire
8                 bruit-de-page-cm2-guide-pedagogique
9            bruit-de-page-cm2-livre-de-l-a-a-la-a-ve
10                             cahier-d-exercices-no1
11                                 comprehension-plus
24                                       delf-prim-a1
25                           echo-a1-nouvelle-version
26                           echo-a2-nouvelle-version
27          education-civique-cycle-3-livre-du-maitre
28              espace-temps-et-education-civique-ce1
29                                  expo-1-pupil-book
30                            expo-3-rouge-pupil-book
31    gafi-lecture-ce1-livre-eleve-methode-de-lecture
32    ile-aux-mots-ce2-cycle-3-tout-le-francais-eleve
33  ile-aux-mots-tout-le-frana-ais-au-cm2-cycle-3-...
34                            l-atelier-de-lecture-cp
35                les-maths-a-la-da-couverte-du-monde
48                          lire-et-ecrire-des-contes
49                        lire-et-ecrire-des-contes-2
50                                 math-en-fleche-ce2
51                                 math-en-fleche-cm2
52                     mathematiques-manuel-eleve-cm1
53                                         maths-1e-s
54                                          maths-cm2
55                                  multilectures-ce2
56                                       optimath-cm2
57  orthographe-active-cm1-cycle-3-niveau-2-fiches...
58                outils-pour-le-francais-cycle-3-ce2
59    sciences-et-technologie-ce2-cycle-3-niveau-1-tp
72                        tempo-2-methode-de-francais
73                          tempo-guide-pedagogique-1
74                            tout-le-francais-au-ce2
75                                           zigzag-1

In [69]:
donnee = df.iloc[:4,]
donnee

                        liens
0             the-solomon-key
1  the-solomon-key-and-beyond
2       upstream-level-b2-2-2
3              101-word-games

In [77]:
url = 'https://nileusedbooks.com/product/'
donne = {}
donne['Book Title'] = []
donne['ISBN Number'] = []
donne['Price in Egyptian Pounds'] = []
donne['Price in USD'] = []

for n in donnee.liens.values:
    url = 'https://nileusedbooks.com/product/'+n
    response = requests.get(url)
    html = response.content
    soup = bs(html, "html.parser")
    prix = int(soup.find_all("ins")[0].find('bdi').text.split()[0][:-3])
    nbd = soup.find_all('div', class_='tab-content')[0].div.find_all('p')[1].text
    print(prix)
    donne['Book Title'].append(n)
    donne['ISBN Number'].append(nbd)
    donne['Price in Egyptian Pounds'].append(prix)
    donne['Price in USD'].append(prix/19)

30
30
40
25

In [81]:
donne_df = pd.DataFrame(donne)
donne_df

,Book Title,ISBN Number,Price in Egyptian Pounds,Price in USD
0,the-solomon-key,9780975447994,30,1.578947
1,the-solomon-key-and-beyond,9780975447994,30,1.578947
2,upstream-level-b2-2-2,9781471523458,40,2.105263
3,101-word-games,0195027426,25,1.315789

In [82]:
donne_df.to_excel('file.xlsx', index=False)